.splash-logo {
    max-width:100%;
    width:auto;
    height:auto;
    padding-bottom:20px;
    display:inline-block;
}

.splash-nav {
    max-width:200px;
    margin:10px auto;
    width:auto;
    height:auto;
    display:block;
}

.splash-item {
    padding:10px;    
}

.splash-img {
    max-height: 100px;
    margin: 0px auto;
    margin-bottom: 20px;
    display: block;
}

#bootstrap-overrides .tourney-btn {
    color:#00b0f0;
    margin:10px;
    display:block;
    max-width:200px;
    width:auto;
}

#bootstrap-overrides h1 {
    text-align:center;
    color:#00b0f0;
}


.tourney-btn-login {
    margin:auto;
}

.login-form {  
    margin:0 20px;
    display:block;
}

.tourney-sidebar {
    height:100%;
    width:300px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    overflow-x:hidden;
    background-color:#E6E6E6;
    
    border-right-style:double;
    border-color:#00b0f0;
    border-right-width:16px;
    padding:10px;
}

.tourney-body {
    margin-left:300px;

}

.tourney-nav {
    margin-top:20px;
    max-width:100%;
}

#bootstrap-overrides .tourney-nav a{
    color:#00b0f0; 
    transition:0.5s;   
}

#bootstrap-overrides .tourney-nav a:hover{
    background-color:#00b0f0;
    color:white;    
    transition:0.5s;
}

#match-table tr {
    background-color: #eee !important;
    border-top: 1px solid #fff !important;
}

#match-table tr:hover {
    background-color: #fff !important;
}

#match-table th {
    background-color: #fff !important;
}

#match-table th, #match-table td {
    padding: 3px 5px !important;
}

#match-table td:hover {
    cursor: pointer !important;
}
