@{
    ViewBag.Title = "Home Page";
}


@{ 
    if (Request.IsAuthenticated)
    {
        <h1>Welcome!</h1>
    }
    else
    {
        <img src="~/Content/logo.png" class="splash-logo" />
        <div class="splash-nav">
            <div class="">
                <p><a class="btn btn-lg btn-default tourney-btn" href="/Account/Login">Login</a></p>
            </div>
            <div class="">
                <p><a class="btn btn-lg btn-default tourney-btn" href="/Account/Register">Register</a></p>
            </div>
            <div class="">
                <p><a class="btn btn-lg btn-default tourney-btn" href="~/Tournaments/Public">View Public Tournaments</a></p>
            </div>
        </div>
        <div style="margin-top:100px;">
            <div class="row">
                <div class="col-lg-4 splash-item">
                    <h1>Simple</h1>
                    <img src="~/Content/atob.png" class="splash-img" />
                    <p>Built by players, for players, ClickTourney enables you to manage your tournament by removing all the hassle involved in keeping track of the details.</p>
                </div>
                <div class="col-lg-4 splash-item">
                    <h1>Robust</h1>
                    <img src="~/Content/Lampanyctodes_hectoris_(Hector's_lanternfish)2.png" class="splash-img" />
                    <p>Many different tournament styles are supported. Whether your managing a small tournament with friends or a larger seasonal competition, ClickTourney has all the tools you need!</p>
                </div>
                <div class="col-lg-4 splash-item">
                    <h1>Fun</h1>
                    <img src="~/Content/thumbsup.png" class="splash-img" />
                    <p>Let's face it, you'd rather spend more time playing than managing the nitty gritty details of your tournament (unless you're into that kind of thing). That's why we created this website!</p>
                </div>
            </div>
        </div>
    }
}
