@model IEnumerable<ClickTourney.Models.Tournament>

@{
    ViewBag.Title = "Index";
}

<h1>My Tournaments</h1>

@if (!Model.Any())
{
    <h2>You have not created any tournaments yet!</h2>
    <h3>Create one now! @Html.ActionLink("Click Here!", "Create")</h3>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    if (Model.Where(t => t.IsPublic).Any())
    {
        <h3>Public</h3>
        @Html.Partial("TourneyList", Model.Where(t => t.IsPublic))
    }
    if (Model.Where(t => !t.IsPublic).Any())
    {
        <h3>Private</h3>
        @Html.Partial("TourneyList", Model.Where(t => !t.IsPublic))
    }
}
